body {
    background: url('https://images.alphacoders.com/307/thumb-1920-307471.jpg');
    background-size: cover;
}

h1 {
    color: #fff;
    font-family: 'Uncial Antiqua';
    text-align: center;
    padding: 10px;
}

h2 {
    color: white;
    height: 50vh;
    border: 1px white solid;
}

#guess-what-phrase {
    display: block;
}

.container {
    display: flex;
    justify-content: center;
}

.thumbnail {
    position: relative;
    border: 1px white solid;
    border-radius: 5px;
    margin: 5px;
}
img {
    border: 1px white solid;
}

.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}
p {
    font-size: 48px;
    color: rgba(255,255,255,0.9);
}
.row {
    border: 3px red solid;
}

