/**************** BACKGROUND AND HEADER ****************/
body {
    /* background: url('https://images.alphacoders.com/307/thumb-1920-307471.jpg'); */
    background: url('https://static.independent.co.uk/s3fs-public/thumbnails/image/2017/08/07/05/game-of-thrones-spoils.jpeg?w968');
    background-color: white;
    background-size: cover;
}

h1, h2 {
    color: #fff;
    font-family: 'MedievalSharp', cursive;
    text-align: center;
}
h2 {
    font-size: 22px;
}


/**************** "HANGMAN IMAGE" ****************/


.placeholder {
    height: 400px;
    border: 1px solid white;
}
#placeholder > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 325px;
    height: 325px;
    border: 3px rgb(37,60,71) solid;
    border-radius: 10px; 
    opacity: 0;
    box-shadow: 0 0 40px 40px rgb(37,60,71); /* https://stackoverflow.com/questions/24709915/blur-the-edges-of-an-image-or-background-image-with-css */
}

p {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-family: 'MedievalSharp', cursive;
}
.try-again {
    font-size: 18px;
    color: #fff;
    background-color: rgb(37,60,71);
}

.restart {
    margin: 15px;
    font-size: 18px;
    color: #fff;
    font-family: 'MedievalSharp', cursive;
    background-color: rgb(37,60,71);
    border-radius: 3px;
}

/**************** PHRASE FOR USER GUESS ****************/

#phrase {
    display: flex;
    justify-content: center;
}
div.letter {
    margin: 10px;
}
.letter {
    color: #fff;
    font-size: 24px;
    text-align: center;
}
.hide-me {
    visibility: hidden;
}
.line {
    width: 20px;
}
.hide {
    visibility: hidden;
}

/**************** BUTTONS ****************/

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.button {
    width: 90px; /* 75px;  */
    height: 90px; /* 75px;  */
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(255,255,255,0.2), 0 6px 10px 0 rgba(255,255,255,0.19);
    color: rgba(255,255,255, 0.5); /* rgba(255,255,255, 0.7); */
    font-size: 46px;  /* 24px  */
}

.img {
    width: 90px;  /* 75px;  */
    height: 90px;  /* 75px;  */
    margin: 5px;
    display: flex;
    align-items: center; /*vertically centers child element, p */
    justify-content: center; /* horizontally centers child element, p */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px white solid;
    border-radius: 5px;
  }

.imga {
    background-image: url(images/arya_stark.jpg);
}
.imgb {
    background-image: url(images/brienne.jpg);
}
.imgc {
    background-image: url(images/cersei.jpg);
}
.imgd {
    background-image: url(images/daenerys_targaryan.png);
}
.imge {
    background-image: url(images/eddard\ stark.jpg);
}
.imgf {
    background-image: url(images/frey.png);
}
.imgg {
    background-image: url(images/gendry.webp);
}
.imgh {
    background-image: url(images/hodor.jpg);
}
.imgi {
    background-image: url(images/ilyn\ payne.png);
}
.imgj {
    background-image: url(images/jon-snow.jpeg);
}
.imgk {
    background-image: url(images/khal_drogo.jpg);
}
.imgl {
    background-image: url(images/littlefinger.png);
}
.imgm {
    background-image: url(images/missandei.png);
}
.imgn{
    background-image: url(images/nymeria.png);
}
.imgo {
    background-image: url(images/Oberyn_Martell.png);
}
.imgp {
    background-image: url(images/poddrick.jpg);
}
.imgq {
    background-image: url(images/Qyburn.png);
}
.imgr {
    background-image: url(images/robb\ stark.jpg);
}
.imgs {
    background-image: url(images/sansa_stark.jpg);
}
.imgt {
    background-image: url(images/tyrian_lannister.png);
}
.imgu {
    background-image: url(images/unella.jpg);
}
.imgv {
    background-image: url(images/varys.webp);
}
.imgw {
    background-image: url(images/wun\ wun.jpg);
}
.imgx {
    background-image: url(images/XaroXhoanDaxos.jpg);
}
.imgy {
    background-image: url(images/ygritte.jpg);
}
.imgz {
    background-image: url(images/dragon.webp);
}
/* 
.tinted-image {
    background: linear-gradient(
      rgba(238, 231, 231, 0.89), 
      rgba(238, 231, 231, 0.877)
    )
} */

